{{ include('Header.twig') }}
<div class="container">
    <div class="row">
        <div class="col py-5">
            <h1 class="h2">PAYONE Link Example</h1>

            <div>
                <form action="/links" method="post">
                    <div class="form-group">
                        <h2 class="h3">Customer Info</h2>
                        <div class="row">
                            <div class="col">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control" id="firstname" name="firstname" required />
                            </div>
                            <div class="col">
                                <label for="lastname">Last Name</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" required />
                            </div>
                        </div>

                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" required />

                        <label for="country">Country</label>
                        <select class="form-control" id="country" name="country" required>
                            <option value="DE" selected>Germany</option>
                            <option value="AT">Austria</option>
                            <option value="CH">Switzerland</option>
                        </select>

                        <div class="row">
                            <div class="col">
                                <label for="currency">Currency</label>
                                <select class="form-control" id="currency" name="currency" required>
                                    <option value="EUR" selected>EUR</option>
                                    <option value="CHF">CHF</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control" value="100.99" min="1" step="0.01" id="amount" name="amount" required />
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>


        </div>
    </div>
</div>
{{ include('Footer.twig') }}