{{ include('Header.twig') }}
<div class="container">
    <div class="row">
        <div class="col py-5">
            <h1 class="h2">PAYONE Link Example</h1>

            <div>
                <p>
                    Response was:
                </p>

                <pre>{{ response }}</pre>

            </div>


        </div>
    </div>
</div>
{{ include('Footer.twig') }}